1 VERSIONINFO
FILEVERSION     @ROOSNBOSS_REST_PRODUCT_VERSION_MAJOR@,@ROOSNBOSS_REST_PRODUCT_VERSION_MINOR@,@ROOSNBOSS_REST_PRODUCT_VERSION_PATCH@,0
PRODUCTVERSION  @ROOSNBOSS_REST_PRODUCT_VERSION_MAJOR@,@ROOSNBOSS_REST_PRODUCT_VERSION_MINOR@,@ROOSNBOSS_REST_PRODUCT_VERSION_PATCH@,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "@ROOSNBOSS_PRODUCT_COMPANY_NAME@"
            VALUE "FileDescription", "@ROOSNBOSS_REST_PRODUCT_DESCRIPTION@"
            VALUE "FileVersion", "@ROOSNBOSS_REST_PRODUCT_VERSION@"
            VALUE "InternalName", "@ROOSNBOSS_REST_PRODUCT_INTERNAL_NAME@"
            VALUE "LegalCopyright", "@ROOSNBOSS_PRODUCT_COPYRIGHT@"
            VALUE "OriginalFilename", "@ROOSNBOSS_REST_BIN_NAME@.exe"
            VALUE "ProductName", "@ROOSNBOSS_REST_PRODUCT_NAME@"
            VALUE "ProductVersion", "@ROOSNBOSS_REST_PRODUCT_VERSION@"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
2 ICON "app-icon.ico"
