1 VERSIONINFO
FILEVERSION     @ROSSNBOSS_REST_PRODUCT_VERSION_MAJOR@,@ROSSNBOSS_REST_PRODUCT_VERSION_MINOR@,@ROSSNBOSS_REST_PRODUCT_VERSION_PATCH@,0
PRODUCTVERSION  @ROSSNBOSS_REST_PRODUCT_VERSION_MAJOR@,@ROSSNBOSS_REST_PRODUCT_VERSION_MINOR@,@ROSSNBOSS_REST_PRODUCT_VERSION_PATCH@,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "@ROSSNBOSS_PRODUCT_COMPANY_NAME@"
            VALUE "FileDescription", "@ROSSNBOSS_REST_PRODUCT_DESCRIPTION@"
            VALUE "FileVersion", "@ROSSNBOSS_REST_PRODUCT_VERSION@"
            VALUE "InternalName", "@ROSSNBOSS_REST_PRODUCT_INTERNAL_NAME@"
            VALUE "LegalCopyright", "@ROSSNBOSS_PRODUCT_COPYRIGHT@"
            VALUE "OriginalFilename", "@ROSSNBOSS_REST_BIN_NAME@.exe"
            VALUE "ProductName", "@ROSSNBOSS_REST_PRODUCT_NAME@"
            VALUE "ProductVersion", "@ROSSNBOSS_REST_PRODUCT_VERSION@"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
2 ICON "app-icon.ico"
